@use "../../foundation/variables";

.p-main-visual {
    position: relative;

    img {
        width: 100%;
    }

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include variables.font-courier-700(8.0rem, variables.$color-white);
    }
}